<% provide(:title, 'Working Users') %>
<h1> 出勤中社員一覧 </h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-striped table-bordered table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th class="center"><%= User.human_attribute_name :employee_number %></th>
        <th class="center"><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @working_users.each do |user| %>
      <tr>
        <td class="center"><%= user.employee_number %></td>
        <td class="center"><%= user.name %></td>
      </tr>
    <% end %>
  </table>
</div>
